{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} Login {% endblock title %}

{% block content %}
    <div class="title">
        <h1 class="header_in_title">Sign up</h1>
    </div>

    <div class="screen">
         <form method="POST" action="{{ url_for('signup') }}">

            {{ form.csrf_token }}
            {{form.email.label}}
            {{form.email}}
            <br>
            {{form.password.label}}
            {{form.password}}
            <br>

            <input type="hidden" name="client_id" value="{{client_id}}">
            <input type="hidden" name="redirect_url" value="{{redirect_url}}">

            {{form.submit(class="btn btn-primary")}}

         </form>
    </div>
    <div class="error_message">
        {{msg}}
    </div>

{% endblock content%}